@model Lab3MidtermReview.Models.Candidate

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CandidateFirst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateLast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CandidateLast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidatenum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidatenum)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CandidateId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
