@model Lab3MidtermReview.Models.Candidate

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CandidateFirst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateLast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CandidateLast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidatenum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidatenum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CandidateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
